<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="hydrox" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="hydrox" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="hydrox" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="hydrox" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="stylesheets/sections.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body scroll id="">

<!--<div class="main-container" ng-view></div>-->
<div id="main" ng-controller="MainController as mainCtrl">
    <!--{{mainCtrl.ypos}}-->
    <div id="seccion-01" data-0="transform:translate3d(0%,0%,0); "
         data-1000="transform:translate3d(-100%,0%,0);">

        <div class="fondo" data-0="transform:translate3d(-40%,0%,0); "
             data-1200="transform:translate3d(-100%,0%,0);"></div>
        <div id="seccion-01-container">
            <!--<div style="pointer-events: all;" ng-click="mainCtrl.goToPage();">ir a tres</div>-->
            <a href="#seccion-02" data-menu-top="500" ng-click="mainCtrl.goToPage();" style="pointer-events: all;">ir a
                tres</a>
        </div>
    </div>


    <div id="seccion-02" data-0="transform:translate3d(100%,0%,0); "
         data-1000="transform:translate3d(0%,0%,0);"
         data-2000="transform:translate3d(-100%,0%,0);">
        <div class="fondo" style="margin-top: -20px;"
             data-100="transform:translate3d(0%,0%,0); opacity:1"
             data-1000="transform:translate3d(-50%,0%,0);opacity:1"
             data-2000="transform:translate3d(-80%,0%,0); opacity:0"></div>
        <div id="seccion-02-container">

            <div class="upper-container">
                <img src="" ng-if="mainCtrl.seccion == 'seccion-02'" id="seccion-02-titulo" class="titulo"/>

            </div>
            <div class="bottom-container">
                <div class="left-container">
                    <div ng-if="mainCtrl.seccion == 'seccion-02'" id="seccion-02-imagen-main" class="imagen-main">
                        <img ng-src="img/{{mainCtrl.img}}" alt="" width="527">
                    </div>
                </div>


                <div class="right-container">
                    <div ng-if="mainCtrl.seccion == 'seccion-02'" id="seccion-02-sub-titulo" class="sub-titulo">
                        ZAPATILLA DE
                        NEOPRENE DE 3MM
                    </div>
                    <div ng-if="mainCtrl.seccion == 'seccion-02'" id="seccion-02-detalle" class="detalle">
                        Suela de caucho TR Antideslizante <br>
                        Gráfica de Refuerzo <br>
                        Ribeteada con Lycra <br>
                        Talles: 32, 34, XS, S, M, L, XL, XXL
                    </div>


                    <div ng-if="mainCtrl.seccion == 'seccion-02'" id="seccion-02-thumbs" class="thumbs">
                        <img ng-click="mainCtrl.selectImage('zapa_neoprene_01.gif')" src="img/zapa_neoprene_01.gif"
                             alt=""
                             width="75">
                        <img ng-click="mainCtrl.selectImage('Zapa_neoprene_02.gif')" src="img/Zapa_neoprene_02.gif"
                             alt=""
                             width="75">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div id="seccion-03" data-1000="transform:translate3d(100%,0%,0); "
         data-2000="transform:translate3d(0%,0%,0);"
         data-3000="transform:translate3d(-100%,0%,0);">
        <div class="fondo" data-1800="transform:translate3d(-50%,0%,0); opacity:0 "
             data-3000="transform:translate3d(-100%,0%,0); opacity:1"></div>
    </div>
    <div id="seccion-04" data-2000="transform:translate3d(100%,0%,0); "
         data-3000="transform:translate3d(0%,0%,0);"
         data-4000="transform:translate3d(-100%,0%,0);"></div>
    <div id="seccion-05"></div>
    <div id="seccion-06"></div>
    <div id="seccion-07"></div>
    <div id="seccion-08"></div>
    <div id="seccion-09"></div>
    <div id="seccion-10"></div>
    <div id="seccion-11"></div>
    <div id="seccion-12"></div>
    <div id="seccion-13"></div>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
<script src="lib/skrollr-menu.min.js"></script>
<script src="app.js"></script>
<script src="main_view/main_view.js"></script>


</body>
</html>
