/* line 5, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Users/diegob/.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/sections.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Regular', sans-serif;
}

/* line 22, ../sass/sections.scss */
div {
  position: fixed;
  pointer-events: none;
}

/* line 27, ../sass/sections.scss */
#main {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

/* line 41, ../sass/sections.scss */
.fondo {
  top: 0px;
  height: 100%;
  width: 200%;
  background: url(../img/burbujas.svg) 50% 50% repeat-x;
  overflow: hidden;
}

/* line 49, ../sass/sections.scss */
.fondo2 {
  top: 0px;
  height: 100%;
  width: 200%;
  background: url(../img/burbujas2.svg) 50% 50% repeat-x;
  overflow: hidden;
}

/* line 58, ../sass/sections.scss */
#seccion-01 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzMzEyZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZWYyNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e3312d), color-stop(100%, #ffef26));
  background-image: -moz-linear-gradient(left, #e3312d, #ffef26);
  background-image: -webkit-linear-gradient(left, #e3312d, #ffef26);
  background-image: linear-gradient(to right, #e3312d, #ffef26);
}

/* line 63, ../sass/sections.scss */
#seccion-02 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZWYyNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UzMzEyZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffef26), color-stop(100%, #e3312d));
  background-image: -moz-linear-gradient(left, #ffef26, #e3312d);
  background-image: -webkit-linear-gradient(left, #ffef26, #e3312d);
  background-image: linear-gradient(to right, #ffef26, #e3312d);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 73, ../sass/sections.scss */
#seccion-03 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzMzEyZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZWZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e3312d), color-stop(100%, #ffefff));
  background-image: -moz-linear-gradient(left, #e3312d, #ffefff);
  background-image: -webkit-linear-gradient(left, #e3312d, #ffefff);
  background-image: linear-gradient(to right, #e3312d, #ffefff);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 81, ../sass/sections.scss */
#seccion-04 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZWZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA0MDAyYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffefff), color-stop(100%, #04002a));
  background-image: -moz-linear-gradient(left, #ffefff, #04002a);
  background-image: -webkit-linear-gradient(left, #ffefff, #04002a);
  background-image: linear-gradient(to right, #ffefff, #04002a);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 89, ../sass/sections.scss */
#seccion-05 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA0MDAyYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E4ZmY5NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #04002a), color-stop(100%, #a8ff94));
  background-image: -moz-linear-gradient(left, #04002a, #a8ff94);
  background-image: -webkit-linear-gradient(left, #04002a, #a8ff94);
  background-image: linear-gradient(to right, #04002a, #a8ff94);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 97, ../sass/sections.scss */
#seccion-06 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E4ZmY5NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDcwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #a8ff94), color-stop(100%, #000700));
  background-image: -moz-linear-gradient(left, #a8ff94, #000700);
  background-image: -webkit-linear-gradient(left, #a8ff94, #000700);
  background-image: linear-gradient(to right, #a8ff94, #000700);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 105, ../sass/sections.scss */
#seccion-07 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDcwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZWYyNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000700), color-stop(100%, #ffef26));
  background-image: -moz-linear-gradient(left, #000700, #ffef26);
  background-image: -webkit-linear-gradient(left, #000700, #ffef26);
  background-image: linear-gradient(to right, #000700, #ffef26);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 113, ../sass/sections.scss */
#seccion-08 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZWYyNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UzMzEyZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffef26), color-stop(100%, #e3312d));
  background-image: -moz-linear-gradient(left, #ffef26, #e3312d);
  background-image: -webkit-linear-gradient(left, #ffef26, #e3312d);
  background-image: linear-gradient(to right, #ffef26, #e3312d);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 121, ../sass/sections.scss */
#seccion-09 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzMzEyZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZWYyNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e3312d), color-stop(100%, #ffef26));
  background-image: -moz-linear-gradient(left, #e3312d, #ffef26);
  background-image: -webkit-linear-gradient(left, #e3312d, #ffef26);
  background-image: linear-gradient(to right, #e3312d, #ffef26);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 129, ../sass/sections.scss */
#seccion-10 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZWYyNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwZTljNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffef26), color-stop(100%, #00e9c5));
  background-image: -moz-linear-gradient(left, #ffef26, #00e9c5);
  background-image: -webkit-linear-gradient(left, #ffef26, #00e9c5);
  background-image: linear-gradient(to right, #ffef26, #00e9c5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 137, ../sass/sections.scss */
#seccion-11 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwZTljNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJhMjMwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #00e9c5), color-stop(100%, #2a2300));
  background-image: -moz-linear-gradient(left, #00e9c5, #2a2300);
  background-image: -webkit-linear-gradient(left, #00e9c5, #2a2300);
  background-image: linear-gradient(to right, #00e9c5, #2a2300);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 145, ../sass/sections.scss */
#seccion-12 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhMjMwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJhMjMwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #2a2300), color-stop(100%, #2a2300));
  background-image: -moz-linear-gradient(left, #2a2300, #2a2300);
  background-image: -webkit-linear-gradient(left, #2a2300, #2a2300);
  background-image: linear-gradient(to right, #2a2300, #2a2300);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 153, ../sass/sections.scss */
#seccion-13 {
  background-color: #000700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 161, ../sass/sections.scss */
#seccion-01-container,
#seccion-02-container,
#seccion-03-container,
#seccion-04-container,
#seccion-05-container,
#seccion-06-container,
#seccion-07-container,
#seccion-08-container,
#seccion-09-container,
#seccion-10-container,
#seccion-11-container,
#seccion-12-container,
#seccion-13-container {
  position: relative;
  max-width: 800px;
  width: 80%;
  max-height: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

@media (max-width: 700px) {
  /* line 186, ../sass/sections.scss */
  #seccion-02-container,
  #seccion-03-container,
  #seccion-04-container,
  #seccion-05-container,
  #seccion-06-container,
  #seccion-07-container,
  #seccion-08-container,
  #seccion-09-container,
  #seccion-10-container,
  #seccion-11-container,
  #seccion-12-container,
  #seccion-13-container {
    display: inline;
  }
}

/* line 203, ../sass/sections.scss */
.left-container,
.right-container,
.upper-container,
.bottom-container {
  position: static;
  z-index: 100;
}

/* line 211, ../sass/sections.scss */
.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 217, ../sass/sections.scss */
.right-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  max-height: 300px;
  min-height: 300px;
}
@media (max-width: 700px) {
  /* line 217, ../sass/sections.scss */
  .right-container {
    position: absolute;
    width: 360px;
    max-width: 360px;
    left: calc(50% - 180px);
  }
}

/* line 234, ../sass/sections.scss */
.upper-container {
  display: flex;
  justify-content: flex-end;
}

/* line 239, ../sass/sections.scss */
.bottom-container {
  display: flex;
  flex-direction: row;
}

/* line 247, ../sass/sections.scss */
.titulo {
  font-size: 42px;
  font-weight: bold;
  position: static;
}

/* line 256, ../sass/sections.scss */
.sub-titulo {
  font-size: 33px;
  position: static;
}

/* line 266, ../sass/sections.scss */
.detalle {
  margin-top: 30px;
  min-height: 150px;
  position: static;
}

/* line 275, ../sass/sections.scss */
.imagen-main {
  position: static;
  max-height: 600px;
  height: 600px;
  background-position: center center;
}
/* line 285, ../sass/sections.scss */
.imagen-main img {
  max-height: 600px;
  max-width: 527px;
}

/* line 292, ../sass/sections.scss */
.thumbs {
  pointer-events: all;
}

/* line 300, ../sass/sections.scss */
#seccion-02-imagen-main.ng-enter,
#seccion-03-imagen-main.ng-enter,
#seccion-04-imagen-main.ng-enter,
#seccion-05-imagen-main.ng-enter,
#seccion-06-imagen-main.ng-enter,
#seccion-07-imagen-main.ng-enter,
#seccion-08-imagen-main.ng-enter,
#seccion-09-imagen-main.ng-enter,
#seccion-10-imagen-main.ng-enter,
#seccion-11-imagen-main.ng-enter,
#seccion-12-imagen-main.ng-enter,
#seccion-13-imagen-main.ng-enter {
  -webkit-animation: titulo-enter 0.8s !important;
  -moz-animation: titulo-enter 0.8s !important;
  -ms-animation: titulo-enter 0.8s !important;
  -o-animation: titulo-enter 0.8s !important;
  animation: titulo-enter 0.8s !important;
}

/* line 320, ../sass/sections.scss */
#seccion-02-titulo.ng-enter,
#seccion-03-titulo.ng-enter,
#seccion-04-titulo.ng-enter,
#seccion-05-titulo.ng-enter,
#seccion-06-titulo.ng-enter,
#seccion-07-titulo.ng-enter,
#seccion-08-titulo.ng-enter,
#seccion-09-titulo.ng-enter,
#seccion-10-titulo.ng-enter,
#seccion-11-titulo.ng-enter,
#seccion-12-titulo.ng-enter,
#seccion-13-titulo.ng-enter {
  -webkit-animation: titulo-enter 0.8s !important;
  -moz-animation: titulo-enter 0.8s !important;
  -ms-animation: titulo-enter 0.8s !important;
  -o-animation: titulo-enter 0.8s !important;
  animation: titulo-enter 0.8s !important;
}

/* line 340, ../sass/sections.scss */
#seccion-02-sub-titulo.ng-enter,
#seccion-03-sub-titulo.ng-enter,
#seccion-04-sub-titulo.ng-enter,
#seccion-05-sub-titulo.ng-enter,
#seccion-06-sub-titulo.ng-enter,
#seccion-07-sub-titulo.ng-enter,
#seccion-08-sub-titulo.ng-enter,
#seccion-09-sub-titulo.ng-enter,
#seccion-10-sub-titulo.ng-enter,
#seccion-11-sub-titulo.ng-enter,
#seccion-12-sub-titulo.ng-enter,
#seccion-13-sub-titulo.ng-enter {
  -moz-animation: titulo-enter 0.9s ease-in;
  /* Firefox */
  -webkit-animation: titulo-enter 0.9s ease-in;
  /* Safari and Chrome */
  -o-animation: titulo-enter 0.9s ease-in;
  /* Opera */
  animation: titulo-enter 0.9s ease-in;
}

/* line 359, ../sass/sections.scss */
#seccion-02-detalle.ng-enter,
#seccion-03-detalle.ng-enter,
#seccion-04-detalle.ng-enter,
#seccion-05-detalle.ng-enter,
#seccion-06-detalle.ng-enter,
#seccion-07-detalle.ng-enter,
#seccion-08-detalle.ng-enter,
#seccion-09-detalle.ng-enter,
#seccion-10-detalle.ng-enter,
#seccion-11-detalle.ng-enter,
#seccion-12-detalle.ng-enter,
#seccion-13-detalle.ng-enter {
  -webkit-animation: titulo-enter 1s !important;
  -moz-animation: titulo-enter 1s !important;
  -ms-animation: titulo-enter 1s !important;
  -o-animation: titulo-enter 1s !important;
  animation: titulo-enter 1s !important;
}

/* line 380, ../sass/sections.scss */
.sub-titulo {
  font-family: 'Bebas Regular', sans-serif;
  color: white;
  font-size: 35px;
  font-weight: bolder;
  text-transform: uppercase;
}

/* line 389, ../sass/sections.scss */
.detalle {
  font-family: 'Bebas Regular', sans-serif;
  font-size: 26px;
  font-variant: small-caps;
  color: white;
  margin-top: -10px;
}

/* line 399, ../sass/sections.scss */
#seccion-02-thumbs.ng-enter,
#seccion-03-thumbs.ng-enter,
#seccion-04-thumbs.ng-enter,
#seccion-05-thumbs.ng-enter,
#seccion-06-thumbs.ng-enter,
#seccion-07-thumbs.ng-enter,
#seccion-08-thumbs.ng-enter,
#seccion-09-thumbs.ng-enter,
#seccion-10-thumbs.ng-enter,
#seccion-11-thumbs.ng-enter,
#seccion-12-thumbs.ng-enter,
#seccion-13-thumbs.ng-enter {
  -webkit-animation: titulo-enter 1.1s !important;
  -moz-animation: titulo-enter 1.1s !important;
  -ms-animation: titulo-enter 1.1s !important;
  -o-animation: titulo-enter 1.1s !important;
  animation: titulo-enter 1.1s !important;
}

@-webkit-keyframes titulo-enter {
  0% {
    opacity: 0;
    transform: translate(1000px, 0px);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
/* line 438, ../sass/sections.scss */
#seccion-02-titulo.ng-leave,
#seccion-02-sub-titulo.ng-leave,
#seccion-02-imagen-main.ng-leave,
#seccion-03-titulo.ng-leave,
#seccion-03-sub-titulo.ng-leave,
#seccion-03-imagen-main.ng-leave
#seccion-04-titulo.ng-leave,
#seccion-04-sub-titulo.ng-leave,
#seccion-04-imagen-main.ng-leave
#seccion-05-titulo.ng-leave,
#seccion-05-sub-titulo.ng-leave,
#seccion-05-imagen-main.ng-leave
#seccion-06-titulo.ng-leave,
#seccion-06-sub-titulo.ng-leave,
#seccion-06-imagen-main.ng-leave
#seccion-07-titulo.ng-leave,
#seccion-07-sub-titulo.ng-leave,
#seccion-07-imagen-main.ng-leave
#seccion-08-titulo.ng-leave,
#seccion-08-sub-titulo.ng-leave,
#seccion-08-imagen-main.ng-leave
#seccion-09-titulo.ng-leave,
#seccion-09-sub-titulo.ng-leave,
#seccion-09-imagen-main.ng-leave
#seccion-10-titulo.ng-leave,
#seccion-10-sub-titulo.ng-leave,
#seccion-10-imagen-main.ng-leave
#seccion-11-titulo.ng-leave,
#seccion-11-sub-titulo.ng-leave,
#seccion-11-imagen-main.ng-leave
#seccion-12-titulo.ng-leave,
#seccion-12-sub-titulo.ng-leave,
#seccion-12-imagen-main.ng-leave
#seccion-13-titulo.ng-leave,
#seccion-13-sub-titulo.ng-leave,
#seccion-14-imagen-main.ng-leave
#seccion-15-titulo.ng-leave,
#seccion-15-sub-titulo.ng-leave,
#seccion-15-imagen-main.ng-leave,
#seccion-16-titulo.ng-leave,
#seccion-16-sub-titulo.ng-leave,
#seccion-16-imagen-main.ng-leave {
  -webkit-animation: titulo-leave 0.4s !important;
  -moz-animation: titulo-leave 0.4s !important;
  -ms-animation: titulo-leave 0.4s !important;
  -o-animation: titulo-leave 0.4s !important;
  animation: titulo-leave 0.4s !important;
}

@-webkit-keyframes titulo-leave {
  0% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  100% {
    opacity: 0;
    transform: translate(-1000px, 0px);
  }
}
/* line 503, ../sass/sections.scss */
#seccion-02.ng-enter,
#seccion-03.ng-enter,
#seccion-04.ng-enter,
#seccion-05.ng-enter,
#seccion-06.ng-enter,
#seccion-07.ng-enter,
#seccion-08.ng-enter,
#seccion-09.ng-enter,
#seccion-10.ng-enter,
#seccion-11.ng-enter,
#seccion-12.ng-enter,
#seccion-13.ng-enter {
  background-color: violet;
  -webkit-animation: view-enter 0.8s !important;
  -moz-animation: view-enter 0.8s !important;
  -ms-animation: view-enter 0.8s !important;
  -o-animation: view-enter 0.8s !important;
  animation: view-enter 0.8s !important;
}

@-webkit-keyframes view-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 550, ../sass/sections.scss */
#seccion-01,
#seccion-02,
#seccion-03,
#seccion-04,
#seccion-05,
#seccion-06,
#seccion-07,
#seccion-08,
#seccion-09,
#seccion-10,
#seccion-11,
#seccion-12,
#seccion-13 {
  width: 100%;
  height: 100%;
  color: white;
  text-shadow: 2px 2px 4px black;
}

@font-face {
  font-family: 'Bebas Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Bebas Regular"), url("BebasNeue Regular.otf") format("woff");
}
