@import "compass";
@import "compass/reset";

body{
//  height: 800px;
//  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #555555;

}

.main-container {

//  height: 4000px;

}

#main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-width: 100vw;
  overflow-x: scroll;
  height: 100vh;
  min-height: 100vh;
  background-color: green;
}

#seccion-01 {
  background-color: #555555;
}

#seccion-02 {
  background-color: chocolate;

}

#seccion-03 {
  background-color: darkkhaki;

}

#seccion-04 {
  background-color: gray;

}

#seccion-05 {
  background-color: lavenderblush;

}

#seccion-01,
#seccion-02,
#seccion-03,
#seccion-04,
#seccion-05,
#seccion-06,
#seccion-07,
#seccion-08,
#seccion-09,
#seccion-10,
#seccion-11,
#seccion-12,
#seccion-13
{
  font-size: 200%;
  vertical-align: middle;
  line-height: 600px;

  width: 100%;
  min-width: 1920px;
  height: 100%;
  div{
//    position: absolute;
//    height: 100%;
//    width: 100%;
//    top: 0;
//    left: 0;
  }
}